@font-face {
  font-family: "macondo_swash_capsregular";
  src: url("macondoswashcaps-regular-webfont.woff2") format("woff2"),
    url("macondoswashcaps-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "macondo_swash_capsregular", serif;
  background-color: #eee;
  background-image: linear-gradient(
      0deg,
      #00bcd4 25%,
      transparent 25%,
      transparent 45%,
      #00bcd4 45%,
      #00bcd4
    ),
    linear-gradient(
      90deg,
      #10aae5 25%,
      transparent 25%,
      transparent 45%,
      #10aae5 45%,
      #00bcd4
    );
  background-size: 50px 50px;
  background-position: 0 0, 50px 50px;
  color: white;

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 5vh;
  }
}

#your-turn-dialog:backdrop {
  background-color: rgb(231, 216, 182);
}
#your-turn-dialog > div {
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.5rem;
  padding: 1rem 3rem;
  gap: 3px;
  background-color: #8e784e;
  div {
    text-align: center;
    border-bottom: 2px solid rgb(107, 76, 5);
    border-top: 3px solid rgb(245, 234, 219);

    box-shadow: 0px 0px 2px 2px gray;
    background-color: rgb(247, 219, 130);
    padding: 0.5rem 2rem;
    transform: scale(1, 0);
    box-shadow: 0px 2px 3px 1px rgb(107, 76, 5);
  }
  div:first-child.show {
    transform: scale(1) skew(1deg, 2deg);
  }
  div:nth-child(2).show {
    transform: scale(1) skew(2deg, 1deg);
  }
  div:nth-child(3).show {
    transform: scale(1) skew(1deg, 2deg);
  }
  div:nth-child(4).show {
    transform: scale(1) skew(3deg, 0deg);
  }

  button {
    font-size: inherit;
    width: max-content;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-radius: 5px;
    transform: scale(1, 0);
    box-shadow: 0px 2px 3px 1px rgb(107, 76, 5);
    background-color: rgb(247, 219, 130);
    padding: 0.5rem 2rem;
    background-color: white;
    cursor: pointer;
  }
  button.show {
    transform: scale(1);
  }
  button.show:hover {
    background-color: azure;
  }
}

#landing-dialog::before {
  content: "";
  align-self: center;
  justify-self: center;
  grid-row: 1;
  grid-column: 1;
  width: clamp(250px, 450px, min(85vh, 85vw));
  height: clamp(250px, 450px, min(85vw, 85vh));

  aspect-ratio: 1;
  min-width: 150px;

  border-radius: 50%;
  background: repeating-radial-gradient(
    circle at 50% 50%,
    #d4ffb382 0%,
    #d4ffb382 0.7%,
    transparent 0.7%,
    transparent 17.5%
  );
  background-position: 0px, 0px;
  /*position: absolute;
top: calc(50px + 1vh);*/
  padding: 20px;
}
#circle {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  width: clamp(300px, 550px, min(95vh, 95vw));
  height: clamp(300px, 550px, min(95vw, 95vh));
  aspect-ratio: 1;
  min-width: 150px;

  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0.25turn at 50% 50%,
    #f69d3ce6,
    10deg,
    #0a762c99,
    350deg,
    #d4ffb3ba
  );
  header {
    margin-top: calc(calc(min(100vh, 100vw) - 100%) / 2 - 25%);
  }

  form {
    z-index: 2;
    max-width: 85%;
    font-size: clamp(14px, 3vw, 1.8rem);
    display: flex;
    flex-direction: column;
    gap: 15px;
    & > label:last-of-type {
      input {
        font-size: clamp(14px, 3vw, 1.8rem);
        padding: 3px;

        margin-left: 1rem;
      }
    }
  }
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 4vw, 3.5rem);
  border-top: 2px solid #808080;

  padding: 2px 0px;
}
h1,
h2 {
  border-bottom: 2px solid #808080;
}

h1 > em {
  font-size: clamp(18px, 6vw, 4.5rem);
  letter-spacing: 1px;
  font-kerning: normal;
}

dialog:not(#your-turn-dialog) {
  grid-row: 1;
  grid-column: 1;
  background: transparent;
  color: white;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

fieldset {
  padding: 15px;
  gap: 15px;
  font-size: clamp(14px, 3vw, 1.8rem);
  display: flex;
  flex-direction: column;

  text-align: center;

  legend {
    font-size: clamp(12px, 1.2rem, 5vw);
  }
  label {
    display: flex;
    align-items: center;
  }

  input {
    margin: 5px;
    max-width: 150px;
  }
  input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 3px solid rgb(47, 79, 47);
    transform: skew(45deg, 313deg);
    transition: 0.2s all linear;
    margin-right: 1rem;
  }
  input::placeholder {
    font-weight: lighter;
    opacity: 0.5;
  }
  input[type="text"]:invalid {
    border: 2px solid red;
  }
  input:checked {
    border: 4px solid rgb(135, 225, 135);
  }

  #another-human:checked ~ #opp-name {
    border: 3px solid rgb(135, 225, 135);
    transition: 0.2s all linear;
  }
  #another-human:not(:checked) ~ #opp-name {
    transform: scale(1, 0);
    transition: 0.2s all linear;
  }
  #opp-name {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
  }
  label:hover {
    text-shadow: 1px 0px whitesmoke;
  }
}
.hide {
  transform: scale(1, 0);
  transition: 0.5s all linear;
}

.show {
  transform: scale(1);
  transition: 0.5s all linear;
}

.pre-show {
  transform: scale(1, 0);
}

button {
  letter-spacing: 0.05rem;
  font-size: clamp(14px, 1.3rem, 2vw);
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: 600;
  font-variant-ligatures: none;
  width: 70%;
  align-self: center;
  font-family: "macondo_swash_capsregular";
}

button:hover,
input:hover {
  background-color: azure;
}

#current-player-grid {
  grid-row: 1;
  grid-column: 1;
  width: min-content;
  background-color: #00bcd4;
  h2,
  p,
  input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1px 5px;
    text-shadow: 1px 1px 1px black;
    line-height: 1.5;
  }
  p {
    margin-top: 5px;
  }
  input {
    padding: 2px 7px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: "macondo_swash_capsregular";
  }
  #instructions {
    background-color: #100d39;
  }
}

div.label {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: clamp(1rem, calc(1.1rem + 1vh), 2rem);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px ridge gray;
}
div#grid {
  width: fit-content;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  border: 6px ridge gray;
  display: grid;
  grid-template-rows: repeat(11, max(min(4vw, 4vh), 30px));
  grid-template-columns: repeat(11, max(min(4vw, 4vh), 30px));
}

div.cell {
  border: 2px outset black;
}
.hmargin {
  margin: 4px 3px;
}
.vmargin {
  margin: 3px 4px;
}
.ship {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px solid black;
  border-radius: 35%;
  z-index: 3;

  --s: 13px; /* control the size*/
  --c1: #b9b9b9;
  --c2: #8e8383;
  --c3: #847070;

  background: conic-gradient(
        from 75deg,
        var(--c1) 15deg,
        var(--c2) 0 30deg,
        #0000 0 180deg,
        var(--c2) 0 195deg,
        var(--c1) 0 210deg,
        #0000 0
      )
      calc(var(--s) / 2) calc(0.5 * var(--s) / tan(30deg)),
    conic-gradient(
      var(--c1) 30deg,
      var(--c3) 0 75deg,
      var(--c1) 0 90deg,
      var(--c2) 0 105deg,
      var(--c3) 0 150deg,
      var(--c2) 0 180deg,
      var(--c3) 0 210deg,
      var(--c1) 0 256deg,
      var(--c2) 0 270deg,
      var(--c1) 0 286deg,
      var(--c2) 0 331deg,
      var(--c3) 0
    );
  background-size: var(--s) calc(var(--s) / tan(30deg));

  &:hover {
    --c1: #b9b9b9;
    --c2: #b3b599;
    --c3: #847f70;

    cursor: cell;
  }
}

.destroyer {
  background-color: blue;
}
.battleship {
  background-color: #9dde9d;
}
.patrol-boat {
  background-color: pink;
}
.carrier {
  background-color: purple;
}
.submarine {
  background-color: yellow;
}

.ship-anchor {
  fill: white;
  align-self: center;
  justify-self: center;
}

#fleet-status {
  display: grid;
  gap: 5px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0c0c3c;
  border: 3px dashed #c0fffe;
  padding: 1rem;
  line-height: 1.5;

  margin-top: 3px;
  h3 {
    grid-row: 1;
    grid-column: 1 / -1;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  p {
    //font-size: 1.3rem;
    font-size: clamp(12px, 1.2rem, 4vw);
    font-weight: 600;

    span {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
}
